<% if item.errors.any? %>
<div class="alert alert-danger badge-danger" role="alert">
  <h4>◆エラーが発生しました。入力内容を確認してください◆</h4>
  <ul>
    <% item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
<% end %>
