<% if item.errors.any? %>
<div class="alert alert-danger" role="alert">
  <h3>エラーが発生しました。以下の項目について確認してください。</h3>
  <ul>
    <% item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
<% end %>

