       <!--ジャンルの検索画面が表示される-->
  <%= image_tag("トップ画像.jpg", class: "top_image")
      <div>ようこそ、Nagano cakeへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
      </div>

      <!--ここに新商品が４件程度させる-->
      <h1><span>新着商品</span></h1>
    </div>
