<div class="container">
  <div class="row">
    <h2>ジャンル一覧・追加</h2>
    <%= form_with model: @genre, url: admin_genres_path do |f| %>
    <label>ジャンル名</label><br>
      <%= f.text_field :title ,class: "form-control" %><br>
    <% end %>
  </div>
</div>